<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
	
      <%= render 'follow_form' if signed_in? %>
        <table class="microposts" summary="User microposts">
          <%= render @microposts %>
        </table>
        <%= will_paginate @microposts %>
    </td>
    <td class="sidebar round">
      	<strong>Nome: </strong> <%= @user.name %><br />
	<strong>Sexo: </strong> <%= @user.sexo %><br />
	<strong>Perfil: </strong> <%= @user.tipo %><br />
	<strong>Estado: </strong> <%= @user.estado %><br />
	<strong>Cidade: </strong> <%= @user.cidade %><br />
      	<strong>Postagens: </strong> <%= @user.microposts.count %><br />
   	
      <%= render 'shared/stats' %>
    </td>
  </tr>
</table>


