<h1><%= @microposts.titulo %></h1><br />


<span><%= @microposts.content %></span>

<br><br>
<hr>

<h6>Tipo : <%= @microposts.tipo %></h6>
<h6>Destinado ao Governante: <%= @microposts.governante %></h6>

<table>
<tr>
<th><h6>Autor : <%= @microposts.user.name %></h6></th>
<th><h6>Criado em : <%= @microposts.created_at %></h6></th>
<th><h6>ID POSTAGEM | <%= @microposts.id %> |</h6></th>
</tr>
</table>
<hr>


<%= form_for [@microposts, @microposts.comments.build] do |f| %>



<%= f.label :content, "Descrição: " %><br />
<%= f.text_area :content %><br />


<%= f.submit "Comentar" %>

<% end %>
